<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="../../../../css/mui.min.css"/>
    <style>
        body {
            background-color: white
        }

        .mui-header {
            background-color: #1081DA
        }

        .card-backgroud {
            background-color: red;
            color: white;
        }
    </style>
</head>
<body>
<header id="header" class="mui-bar mui-bar-nav mui-header">
    <h1 class="mui-title" style="color: white">选择系统</h1>
</header>
<div class="mui-content" id="item-selector">
    <div v-if="lstSelectItem.length==0">请先选择所属区域再选择系统</div>
    <item v-for="(lstItems,index) in lstSelectItem" :index="index" :list="lstItems"></item>
</div>
</div>
</body>
<script type="text/javascript" src="../../../../script/api.js"></script>
<script type="text/javascript" src="../../../../script/zepto.min.js"></script>
<script type="text/javascript" src="../../../../script/vue.min.js"></script>
<script type="text/javascript" src="../../../../script/mui.min.js"></script>
<script type="text/javascript" src="../../../../script/common.js"></script>
<script type="text/javascript" src="../../../../script/http.js"></script>
<script type="text/x-template" id="item-template">
    <div>
        <div style="padding-left: 10px">{{index+1}}</div>
        <ul class="mui-table-view mui-grid-view mui-grid-9" style="background-color: white">
            <li v-show="item.status<3" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"
                v-for="item in list"
                style="border: 0;padding: 0" v-on:click="queryItemByItemParent(item.id,item.status)">
                <div class="mui-card" :class="{'card-backgroud':item.status==2}">
                    <div class="mui-card-content">
                        <div class="mui-card-content-inner" style="padding: 5px 15px;word-wrap: break-word">
                            {{item.name}}
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</script>
<script type="text/javascript">
    var itemSelectorModel;
    var index = 0;
    apiready = function () {
        initHeader();
        Vue.component('item', {
            template: '#item-template',
            props: {
                index: Number,
                list: Array
            },
            methods: {
                queryItemByItemParent: function (itemId, status) {
                    var item = null;
                    $.each(this.list, function (i, tempItem) {
                        if (tempItem.id == itemId) {
                            item = tempItem;
                        }
                        if (status == 1 || status == 3) {
                            if (tempItem.id == itemId) {
                                tempItem.status = 2;
                            } else {
                                tempItem.status = 3;
                            }
                        } else {
                            tempItem.status = 1;
                        }
                    });
                    var name = item.treeName;
                    var isSelect = status == 3 || status == 1;
                    var itemId = isSelect ? item.id : item.parentId;
                    var ekecType = isSelect ? item.elecType : item.parentElecType;
                    api.execScript({
                        name: 'problem-register-win',
                        frameName: 'problem-register',
                        script: 'fnsetItem("' + name + '",' + isSelect + ',' + itemId + ',"'+ekecType+'");'
                    });
                    if (isSelect) {
                        api.showProgress({
                            style: 'default',
                            animationType: 'fade',
                            title: '获取数据中...',
                            modal: true
                        });
                        post("/modules/mobile/maintain/zone-user!queryItemByItemParent.action", {
                            itemParentId: itemId
                        }, function (ret) {
                            if (ret.data.length > 0) {
                                itemSelectorModel.lstSelectItem.push(ret.data);
                            }
                        });
                    } else {
                        itemSelectorModel.lstSelectItem.splice(this.index + 1, itemSelectorModel.lstSelectItem.length - this.index - 1);
                    }

                }
            }
        });
        itemSelectorModel = new Vue({
            el: '#item-selector',
            data: {
                lstSelectItem: [],
            }
        });
    };
    function loadZoneId(zondId) {
        post("/modules/mobile/maintain/zone-user!queryItemByItemParent.action", {
            zoneId: zondId
        }, function (ret) {
            itemSelectorModel.lstSelectItem = [];
            itemSelectorModel.lstSelectItem.push(ret.data);
        });
    }
</script>
</html>