<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="../../../css/mui.min.css"/>
    <style>
        body {

        }

        .mui-control-item {
            padding: 3px 0;
            line-height: normal;
        }
    </style>
</head>
<body>
<div id="device-operate" v-cloak>
    <ul class="mui-table-view" v-for="dp in lstDevicePlaces" style="margin-top: 10px;">
        <li class="mui-table-view-cell ">
        <span>
            {{dp.name}}
        </span>
            <span class="mui-pull-right">
            {{dp.componentName}}
        </span>
        </li>
        <li class="mui-table-view-cell " v-for="di in dp.lstDeviceInstall">
            <div>
                <span style="color: #00acc1">
                {{di.name}}
                </span>
                <span class="mui-pull-right" style="color: #dedede">
                {{di.sequenceCode}}
                </span>
            </div>
            <div style="margin: 10px 0">{{di.brandName}}</div>
            <div class="mui-input-row">
                <label style="width: 25%;margin-top: 7px; padding: 0;
            line-height: unset">设备状态</label>
                <div class="mui-segmented-control" style="width:auto;">
                    <a class="mui-control-item " v-bind:class="{'mui-active':di.deviceStatus==1}"
                       style="line-height: normal"
                       v-on:click="watchDeviceStatus(di,1)">
                        正常
                    </a>
                    <a class="mui-control-item" v-bind:class="{'mui-active':di.deviceStatus==2}"
                       style="line-height: normal;"
                       v-on:click="watchDeviceStatus(di,2)">
                        故障
                    </a>
                    <a class="mui-control-item " v-bind:class="{'mui-active':di.deviceStatus==3}"
                       style="line-height: normal;"
                       v-on:click="watchDeviceStatus(di,3)">
                        不确定
                    </a>
                    <a class="mui-control-item " v-bind:class="{'mui-active':di.deviceStatus==4}"
                       style="line-height: normal;"
                       v-on:click="watchDeviceStatus(di,4)">
                        报废
                    </a>

                </div>
            </div>
            <div style="margin-top: 10px">
                <button type="button" class="mui-btn mui-btn-outlined mui-pull-right"
                        v-on:click="selectDeviceForInstall('',di.deviceId)">
                    装零配件
                </button>
                <button type="button" class="mui-btn mui-btn-danger mui-btn-outlined mui-pull-right"
                        style="margin-right: 10px" v-on:click="uninstallDevice(di.id)">
                    拆设备
                </button>
            </div>
        </li>
        <li class="mui-table-view-cell ">
            <div>
                <button type="button" class="mui-btn mui-btn-primary mui-btn-outlined mui-pull-right"
                        v-on:click="selectDeviceForInstall(dp.id)">
                    安装设备
                </button>
                <button type="button" class="mui-btn mui-btn-primary mui-btn-outlined mui-pull-right"
                        v-on:click="gotoDeviceRecord(dp.id)"
                        style="margin-right: 10px">
                    设备拆装换记录
                </button>
            </div>
        </li>
    </ul>
    <div style="margin-top: 10px;margin-bottom: 5px;margin-left: 25px;margin-right: 25px;">
        <button type="button" class="mui-btn-primary mui-btn mui-btn-block" v-on:click="submit">提交</button>
    </div>
</div>
</body>
<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/mui.min.js"></script>
<script type="text/javascript" src="../../../script/vue.min.js"></script>
<script type="text/javascript" src="../../../script/zepto.min.js"></script>
<script type="text/javascript" src="../../../script/http.js"></script>
<script type="text/javascript" src="../../../script/common.js"></script>
<script type="text/javascript">
    var deviceOperateModel;
    apiready = function () {
        deviceOperateModel = new Vue({
            el: '#device-operate',
            data: {
                lstDevicePlaces: []
            },
            created: function () {
                update();
            },
            methods: {
                watchDeviceStatus: function (di, status) {
                    di.deviceStatus = status;
                },
                selectDeviceForInstall: function (dpId, deviceId) {
                    var deviceParentId = "";
                    if (deviceId) {
                        deviceParentId = deviceId
                        api.openWin({
                            name: 'problem-device-list-win',
                            url: './problem-device-select-header.html',
                            reload: true,
                            pageParam: {
                                name: '零配件列表',
                                frameName: 'problem-device-list',
                                method: 'installDevice();',
                                url: 'widget://html/home/problem/problem-device-list.html',
                                deviceParentId: deviceParentId,
                                devicePlaceId: dpId,
                                problemId: api.pageParam.problemId
                            }
                        });
                    } else {
                        api.openWin({
                            name: 'problem-device-select-win',
                            url: './problem-device-select-header.html',
                            reload: true,
                            pageParam: {
                                name: '选择设备',
                                frameName: 'problem-device-select',
                                openFrameName: api.pageParam.frameName,
                                method: 'installDevice();',
                                url: 'widget://html/home/problem/problem-device-select.html',
                                deviceParentId: deviceParentId,
                                devicePlaceId: dpId,
                                problemId: api.pageParam.problemId
                            }
                        });

                    }
                },
                uninstallDevice: function (diId) {
                    api.confirm({
                        title: '温馨提示',
                        msg: '确定要拆除改设备吗？',
                        buttons: ['是', '否']
                    }, function (ret, err) {
                        if (ret.buttonIndex == 1) {
                            api.showProgress({
                                style: 'default',
                                animationType: 'fade',
                                title: '拆除设备中...',
                                modal: true
                            });
                            post("/modules/mobile/defect/problem-deal!uninstallDevice.action", {
                                id: diId,
                                problemId: api.pageParam.problemId,
                                userId: $api.getStorage('user').id
                            }, function (ret) {
                                update();
                                api.toast({
                                    msg: ret.data,
                                    duration: 2000,
                                    location: 'bottom'
                                });
                            });
                        }
                    });

                },
                gotoDeviceRecord: function (dpId) {
                    fnHeaderWin("设备拆装换记录", "problem-device-record", "/home/problem/problem-device-record.html", {
                        dpId: dpId
                    });
                },
                submit: function () {
                    api.showProgress({
                        style: 'default',
                        animationType: 'fade',
                        title: '提交中...',
                        modal: true
                    });
                    var lstDevices = [];
                    $.each(deviceOperateModel.lstDevicePlaces, function (i, dp) {
                        $.each(dp.lstDeviceInstall, function (i, di) {
                            lstDevices.push({
                                id: di.deviceId,
                                deviceStatus: di.deviceStatus
                            });
                        });
                    });
                    upload("/modules/mobile/defect/problem-deal!changeDeviceStatues.action", {
                        list: JSON.stringify(lstDevices),
                    }, {}, function (ret) {
                        api.ajax({
                            url: $api.getStorage('gmms_url') + '/modules/mobile/defect/fault-repair-rbi!saveFlow.action',
                            method: 'POST',
                            timeout: 15,
                            data: {
                                values: api.pageParam.formData
                            }
                        }, function (ret, err) {
                            if (ret) {
                                alert(ret.msg);
                                api.execScript({
                                    name: 'defect_input',
                                    frameName: 'defect_input_frm',
                                    script: 'fnFindProblemInfo();'
                                });
                                api.closeWin({name: 'defect_disposal_input'});
                                api.closeWin();
                            } else {
                                api.toast({msg: err.msg});
                            }
                            api.hideProgress();

                        });
                    });
                }
            }
        });

    };
    function update() {
        post("/modules/mobile/defect/problem-deal!queryDeviceInfoByDevicePlace.action", {
            devicePlaceIds: api.pageParam.devicePlaceIds,
            userId: $api.getStorage('user').id
        }, function (ret) {
            deviceOperateModel.lstDevicePlaces = [];
            $.each(ret.data, function (i, dp) {
                deviceOperateModel.lstDevicePlaces.push(dp);
            });
        });
    }
</script>
</html>